<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
	{% if user.is_authenticated %}
	<h1>Rango says... hello {{user.username}}</h1>
	{% else %}
	<h1>Rango says... hello!</h1>
	{% endif %}
	
	{% if categories %}
	<ul>
		{% for category in categories %}
		<li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>No Categories present</strong>
	{% endif %}
        <a href="/rango/about/">About</a><br />
	<img src="/static/images/rango.gif" alt="Picture of Rango" /> 
	<br/>
	<br/>
	<br/>
	<a href="/rango/add_category/">Add a New Category</a>
	<br/>
	<br/>
	<br/>
	{% if not user.is_authenticated %}
	<a href="/rango/register/">Register Here</a>
	<br/>
	<br/>
	<br/>
	<a href="/rango/login/">Login Here</a>
	{% else %}
	<br/>
	<br/>
	<br/>
	<a href="/rango/logout/">Logout<a/>
	<br/>
	<br/>
	<br/>
	<a href="/rango/restricted/">Restricted Page<a/>
	{% endif %}
    </body>

</html>
